body {
  background-image: url(https://img.veenaworld.com/customized-holidays/india/leh-ladakh/shlh6/bnn.jpg);
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}


h1 {
color: #000000;
  }

  h2 {
    color: #FF0000;
}
